<div class="container mt-4">
  <h2>{{ 'FIRMS' | translate }}</h2>

  <div class="btn-group mb-4">
    <button class="btn btn-primary" (click)="toggleList()">{{ 'VIEW_ALL_FIRMS' | translate }}</button>
    <button class="btn btn-primary" (click)="toggleSearch()">{{ 'SEARCH_FIRM' | translate }}</button>
    <button class="btn btn-primary" (click)="toggleForm('add')">{{ 'ADD_FIRM' | translate }}</button>
  </div>

  <div *ngIf="showList">
    <table class="table table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="col">{{ 'NAME' | translate }}</th>
        <th scope="col">{{ 'HEADQUARTERS' | translate }}</th>
        <th scope="col">{{ 'ANNUAL_REVENUE' | translate }}</th>
        <th scope="col">{{ 'ANNUAL_TAX' | translate }}</th>
        <th scope="col">{{ 'ANNUAL_PROFIT' | translate }}</th>
        <th scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let firm of paginatedFirms">
        <td>{{ firm.name }}</td>
        <td>{{ firm.headquarters }}</td>
        <td>{{ formatCurrency(firm.annualRevenue) }}</td>
        <td>{{ formatCurrency(firm.annualTax) }}</td>
        <td>{{ formatCurrency(firm.annualProfit) }}</td>
        <td class="table-actions">
          <button class="btn btn-outline-danger btn-sm" (click)="confirmDeleteFirm(firm.id)">
            <i class="bi bi-trash"></i>
          </button>
          <button class="btn btn-outline-primary btn-sm" (click)="toggleForm('edit', firm)">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-left">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="previousPage()">{{ 'PREVIOUS' | translate }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">{{ 'NEXT' | translate }}</button>
        </li>
      </ul>
    </nav>
  </div>

  <div *ngIf="showSearch" class="mt-4">
    <h3>{{ 'SEARCH_FIRM' | translate }}</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" [(ngModel)]="searchQuery" name="searchQuery">
      <button class="btn btn-primary" (click)="searchFirms()"><i class="bi bi-search"></i>&#160;{{ 'SEARCH' | translate }}</button>
    </div>

    <div *ngIf="firms.length > 0" class="mt-4">
      <h3>{{ 'SEARCH_RESULTS' | translate }}</h3>
      <table class="table table-hover">
        <thead class="table-dark">
        <tr>
          <th scope="col">{{ 'NAME' | translate }}</th>
          <th scope="col">{{ 'HEADQUARTERS' | translate }}</th>
          <th scope="col">{{ 'ANNUAL_REVENUE' | translate }}</th>
          <th scope="col">{{ 'ANNUAL_TAX' | translate }}</th>
          <th scope="col">{{ 'ANNUAL_PROFIT' | translate }}</th>
          <th scope="col">{{ 'ACTIONS' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let firm of paginatedFirms">
          <td>{{ firm.name }}</td>
          <td>{{ firm.headquarters }}</td>
          <td>{{ formatCurrency(firm.annualRevenue) }}</td>
          <td>{{ formatCurrency(firm.annualTax) }}</td>
          <td>{{ formatCurrency(firm.annualProfit) }}</td>
          <td class="table-actions">
            <button class="btn btn-outline-danger btn-sm" (click)="confirmDeleteFirm(firm.id)">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm" (click)="toggleForm('edit', firm)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination justify-content-left">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="previousPage()">{{ 'PREVIOUS' | translate }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="nextPage()">{{ 'NEXT' | translate }}</button>
          </li>
        </ul>
      </nav>
    </div>
    <div *ngIf="firms.length === 0">
      <p>{{ 'NO_FIRMS_FOUND' | translate }}</p>
    </div>
  </div>

  <div *ngIf="showForm" class="firm-form mt-4" id="add-firm">
    <h3>{{ formMode === 'add' ? 'ADD_FIRM_FORM' : 'EDIT_FIRM_FORM' | translate }}</h3>
    <form (ngSubmit)="formMode === 'add' ? addFirm() : updateFirm()">
      <div class="form-group mb-3">
        <label for="name" class="form-label">{{ 'NAME' | translate }}</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="selectedFirm.name" name="name" required>
      </div>
      <div class="form-group mb-3">
        <label for="headquarters" class="form-label">{{ 'HEADQUARTERS' | translate }}</label>
        <input type="text" class="form-control" id="headquarters" [(ngModel)]="selectedFirm.headquarters" name="headquarters" required>
      </div>
      <div class="form-group mb-3">
        <label for="annualRevenue" class="form-label">{{ 'ANNUAL_REVENUE' | translate }}</label>
        <input type="number" class="form-control" id="annualRevenue" [(ngModel)]="selectedFirm.annualRevenue" name="annualRevenue">
      </div>
      <div class="form-group mb-3">
        <label for="annualTax" class="form-label">{{ 'ANNUAL_TAX' | translate }}</label>
        <input type="number" class="form-control" id="annualTax" [(ngModel)]="selectedFirm.annualTax" name="annualTax">
      </div>
      <div class="form-group mb-3">
        <label for="annualProfit" class="form-label">{{ 'ANNUAL_PROFIT' | translate }}</label>
        <input type="number" class="form-control" id="annualProfit" [(ngModel)]="selectedFirm.annualProfit" name="annualProfit">
      </div>
      <button type="submit" class="btn btn-primary my-2">{{ formMode === 'add' ? 'ADD' : 'UPDATE' | translate }}</button>
    </form>
  </div>
  <app-confirm-modal-bootstrap></app-confirm-modal-bootstrap>
</div>
