<div class="container mt-4">
  <h2>Product-Disease Relationships</h2>

  <div class="btn-group mb-4">
    <button class="btn btn-primary" (click)="toggleList()">View All Relationships</button>
    <button class="btn btn-primary" (click)="toggleSearch()">Search Relationship</button>
    <button class="btn btn-primary" (click)="toggleForm()">Add Relationship</button>
  </div>

  <div *ngIf="showList">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Product</th>
        <th>Disease</th>
        <th>Risk Level</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let productDisease of paginatedProductDiseases">
        <td>{{ productDisease.product?.brandName }}</td>
        <td>{{ productDisease.disease?.name }}</td>
        <td>{{ productDisease.riskLevel }}</td>
        <td class="table-actions">
          <button class="btn btn-outline-danger btn-sm" (click)="confirmDeleteProductDisease(productDisease.id)">
            <i class="bi bi-trash"></i>
          </button>
          <button class="btn btn-outline-primary btn-sm" (click)="editProductDisease(productDisease)">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="previousPage()">Previous</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>
  </div>

  <div *ngIf="showSearch" class="mt-4">
    <h3>Search Relationship</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" name="searchQuery">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="searchProductDiseases()">Search</button>
      </div>
    </div>

    <div *ngIf="productDiseases.length > 0" class="mt-4">
      <h3>Search Results</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Product</th>
          <th>Disease</th>
          <th>Risk Level</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productDisease of paginatedProductDiseases">
          <td>{{ productDisease.product?.brandName }}</td>
          <td>{{ productDisease.disease?.name }}</td>
          <td>{{ productDisease.riskLevel }}</td>
          <td class="table-actions">
            <button class="btn btn-outline-danger btn-sm" (click)="confirmDeleteProductDisease(productDisease.id)">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm" (click)="editProductDisease(productDisease)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="previousPage()">Previous</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="nextPage()">Next</button>
          </li>
        </ul>
      </nav>
    </div>
    <div *ngIf="productDiseases.length === 0">
      <p>No relationships found.</p>
    </div>
  </div>

  <div *ngIf="showForm" class="product-disease-form mt-4">
    <h3>Add Product-Disease Relationship</h3>
    <form (ngSubmit)="addProductDisease()">
      <div class="form-group">
        <label for="product">Product</label>
        <select class="form-control" id="product" [(ngModel)]="newProductDisease.productId" name="productId" required>
          <option *ngFor="let product of products" [value]="product.id">{{ product.brandName }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="disease">Disease</label>
        <select class="form-control" id="disease" [(ngModel)]="newProductDisease.diseaseId" name="diseaseId" required>
          <option *ngFor="let disease of diseases" [value]="disease.id">{{ disease.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="riskLevel">Risk Level</label>
        <input type="text" class="form-control" id="riskLevel" [(ngModel)]="newProductDisease.riskLevel" name="riskLevel" required>
      </div>
      <button type="submit" class="btn btn-primary my-2">Add</button>
    </form>
  </div>

  <app-confirm-modal-bootstrap></app-confirm-modal-bootstrap>
</div>
