<div class="container mt-4">
  <h2 class="mb-4">{{ 'DISEASES' | translate }}</h2>

  <div class="btn-group mb-4">
    <button class="btn btn-primary" (click)="toggleList()">{{ 'VIEW_ALL_DISEASES' | translate }}</button>
    <button class="btn btn-primary" (click)="toggleSearch()">{{ 'SEARCH_DISEASE' | translate }}</button>
    <button class="btn btn-primary" (click)="toggleForm('add')">{{ 'ADD_DISEASE' | translate }}</button>
  </div>

  <div *ngIf="showList">
    <table class="table table-hover">
      <thead class="table-dark">
      <tr>
        <th scope="col">{{ 'NAME' | translate }}</th>
        <th scope="col">{{ 'DESCRIPTION' | translate }}</th>
        <th scope="col">{{ 'ACTIONS' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let disease of paginatedDiseases">
        <td>{{ disease.name }}</td>
        <td>{{ disease.description }}</td>
        <td class="table-actions">
          <button class="btn btn-outline-danger btn-sm" (click)="deleteDisease(disease.id)">
            <i class="bi bi-trash"></i>
          </button>
          <button class="btn btn-outline-primary btn-sm" (click)="toggleForm('edit', disease)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-outline-info btn-sm" (click)="viewAssociatedRisks(disease.id)">
            <i class="bi bi-eye"></i> {{ 'VIEW_RISKS' | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-left">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="previousPage()">{{ 'PREVIOUS' | translate }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">{{ 'NEXT' | translate }}</button>
        </li>
      </ul>
    </nav>
  </div>

  <div *ngIf="showSearch" class="mt-4">
    <h3>{{ 'SEARCH_DISEASE' | translate }}</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" [(ngModel)]="searchQuery" name="searchQuery">
      <button class="btn btn-primary" (click)="searchDiseases()"><i class="bi bi-search"></i>&#160;{{ 'SEARCH' | translate }}</button>
    </div>

    <div *ngIf="diseases.length > 0" class="mt-4">
      <h3>{{ 'SEARCH_RESULTS' | translate }}</h3>
      <table class="table table-hover">
        <thead class="table-dark">
        <tr>
          <th scope="col">{{ 'NAME' | translate }}</th>
          <th scope="col">{{ 'DESCRIPTION' | translate }}</th>
          <th scope="col">{{ 'ACTIONS' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let disease of paginatedDiseases">
          <td>{{ disease.name }}</td>
          <td>{{ disease.description }}</td>
          <td class="table-actions">
            <button class="btn btn-outline-danger btn-sm" (click)="deleteDisease(disease.id)">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm" (click)="toggleForm('edit', disease)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination justify-content-left">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="previousPage()">{{ 'PREVIOUS' | translate }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="nextPage()">{{ 'NEXT' | translate }}</button>
          </li>
        </ul>
      </nav>
    </div>
    <div *ngIf="diseases.length === 0">
      <p>{{ 'NO_DISEASES_FOUND' | translate }}</p>
    </div>
  </div>

  <div *ngIf="showForm" class="disease-form mt-4 m-2" id="add-disease">
    <h3>{{ formMode === 'add' ? 'ADD_DISEASE_FORM' : 'EDIT_DISEASE_FORM' | translate }}</h3>
    <form (ngSubmit)="formMode === 'add' ? addDisease() : updateDisease()">
      <div class="form-group mb-3">
        <label for="name" class="form-label">{{ 'NAME' | translate }}</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="selectedDisease.name" name="name" required>
      </div>
      <div class="form-group mb-3">
        <label for="description" class="form-label">{{ 'DESCRIPTION' | translate }}</label>
        <textarea class="form-control" id="description" [(ngModel)]="selectedDisease.description" name="description" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary my-2">{{ formMode === 'add' ? 'ADD' : 'UPDATE' | translate }}</button>
    </form>
  </div>
</div>

<div class="modal fade" id="viewRisksModal" tabindex="-1" aria-labelledby="viewRisksModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewRisksModalLabel">{{ 'VIEW_RISKS' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="table-dark">
          <tr>
            <th scope="col">{{ 'PRODUCT' | translate }}</th>
            <th scope="col">{{ 'RISK_LEVEL' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let productDisease of associatedRisks">
            <td>{{ productDisease.product.brandName }}</td>
            <td>{{ productDisease.riskLevel }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-confirm-modal-bootstrap></app-confirm-modal-bootstrap>
