<div class="container">
  <h2>Diseases</h2>
  <mat-list>
    <mat-list-item *ngFor="let disease of diseases">
      <div mat-line>{{ disease.name }}</div>
      <div mat-line>{{ disease.description }}</div>
      <button mat-icon-button (click)="deleteDisease(disease.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <h3>Add Disease</h3>
  <form (ngSubmit)="addDisease()" class="disease-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="newDisease.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput type="text" [(ngModel)]="newDisease.description" name="description" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </form>
</div>
