<div class="container">
  <h1>Welcome to NicoPatho</h1>
  <div class="card-container">
    <mat-card class="card" routerLink="/diseases">
      <mat-card-header>
        <mat-card-title>Diseases</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Explore and manage diseases related to tobacco consumption.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="/firms">
      <mat-card-header>
        <mat-card-title>Firms</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>View and manage tobacco firms and their details.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="/products">
      <mat-card-header>
        <mat-card-title>Products</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Explore and manage tobacco products and their contents.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
