<div class="container mt-4">
  <h2 class="mb-4">{{ 'RISKS' | translate }}</h2>

  <div class="form-group mb-4">
    <label for="filter">{{ 'FILTER_BY_RISK_LEVEL' | translate }}:</label>
    <select id="filter" [(ngModel)]="filter" (change)="applyFilter()" class="form-control">
      <option value="">{{ 'ALL' | translate }}</option>
      <option value="High">{{ 'HIGH' | translate }}</option>
      <option value="Moderate">{{ 'MODERATE' | translate }}</option>
      <option value="Low">{{ 'LOW' | translate }}</option>
    </select>
  </div>

  <table class="table table-hover">
    <thead class="table-dark">
    <tr>
      <th scope="col">{{ 'PRODUCT' | translate }}</th>
      <th scope="col">{{ 'DISEASE' | translate }}</th>
      <th scope="col">{{ 'RISK_LEVEL' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let risk of filteredRisks">
      <td [title]="'Produced by: ' + (risk.product && risk.product.firm ? risk.product.firm.name : 'Unknown Firm')">
        {{ risk.product ? risk.product.brandName : 'Unknown Product' }}
      </td>
      <td>{{ risk.disease ? risk.disease.name : 'Unknown Disease' }}</td>
      <td>{{ risk.riskLevel }}</td>
    </tr>
    </tbody>
  </table>

  <div class="mt-4 bg-gradient">
    <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
    </canvas>
  </div>

  <div class="alert alert-warning mt-4" role="alert">
    <strong>{{ 'NOTE' | translate }}:</strong> {{ 'RISK_NOTE' | translate }}
  </div>
</div>
