/* product.component.css */
.container {
  padding: 20px;
}

h2 {
  font-weight: 700;
  color: #343a40;
}

.btn-group .btn {
  border-radius: 0;
}

.table-actions {
  display: flex;
  gap: 10px;
}

.product-form {
  max-width: 600px;
  margin: 0 auto;
}

.pagination {
  justify-content: left;
}

.table-actions {
  display: flex;
  gap: 10px;
}

.pagination .page-link {
  color: #007bff;
}

.pagination .page-link:hover {
  color: #0056b3;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.input-group .form-control {
  border-radius: 0;
}

.input-group .btn {
  border-radius: 0;
}

.product-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-gradient {
  background: linear-gradient(to right, #ffffff, #e0e0e0);
}

.snackbar-success {
  background-color: #4caf50;
  color: #ffffff;
}

.snackbar-error {
  background-color: #f44336;
  color: #ffffff;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.high-content {
  background-color: red;
}

.medium-content {
  background-color: orange;

}

.low-content {
  background-color: green;
}

.legend {
  margin-top: 20px;
}

.legend h4 {
  margin-bottom: 10px;
}

.legend p {
  margin: 0;
  display: flex;
  align-items: center;
}

.legend p .dot {
  margin-right: 10px;
}
